
.member-description__text {
  overflow: hidden;
  height: 35px;
  width: 100%;
  color: #999999;
}

.member-description__text p {
  line-height: 1.2;
  font-size: 1em;
}

.member-description__text:before {
  content: "";
  float: left;
  width: 1px;
  height: 35px;
}

.member-description__text>*:first-child {
  float: right;
  width: 100%;
  margin-left: -1px;
}

.member-description__text:after {
  content: "\02026";
  box-sizing: content-box;
  float: right;
  position: relative;
  top: -50%;
  left: 95%;
  width: 1em;
  margin-left: -1em;
  padding-right: 1px;
  text-align: right;
  background-size: 100% 100%;
  background: transparent;
}

.search-container {
  margin: 10px 10px 10px 20px;
}
